/* Fonts
--------------------- */
@font-face {
  font-family: 'satelliteregular';
  src: url("../fonts/satellite-webfont.eot");
  src: url("../fonts/satellite-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/satellite-webfont.woff") format("woff"), url("../fonts/satellite-webfont.ttf") format("truetype"), url("../fonts/satellite-webfont.svg#satelliteregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("../fonts/Roboto-Thin-webfont.eot");
  src: url("../fonts/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin-webfont.woff") format("woff"), url("../fonts/Roboto-Thin-webfont.ttf") format("truetype"), url("../fonts/Roboto-Thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: url("../fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Colors
--------------------- */
/* --- Globals
------------------------------ */
/* line 81, main.scss */
body {
  background: url(../images/bg-tile.jpg) repeat;
  margin: 0;
}

/* line 86, main.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 95, main.scss */
form {
  margin: 0 !important;
}

/* line 99, main.scss */
::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: none;
}

/* line 105, main.scss */
::-webkit-scrollbar-thumb {
  background: #767676;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

/* line 111, main.scss */
::-webkit-scrollbar-corner {
  background: none;
}

/* line 115, main.scss */
.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 2000px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 2000px 0 rgba(0, 0, 0, 0.5);
}

/* line 126, main.scss */
* {
  outline-color: #00bce4;
}

/* line 130, main.scss */
a {
  text-decoration: underline;
}
/* line 133, main.scss */
a:hover {
  text-decoration: none !important;
}

/* line 137, main.scss */
input {
  height: 37px;
  line-height: 37px;
  -webkit-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 14px;
  color: #424242;
  font-family: 'robotoregular', Arial;
  padding: 0px 10px;
}
/* line 148, main.scss */
input::-webkit-input-placeholder {
  color: #424242;
  opacity: 0.6;
}
/* line 152, main.scss */
input::-moz-placeholder {
  color: #424242;
  opacity: 0.6;
}

/* --- Main
------------------------------ */
/* line 162, main.scss */
.login {
  overflow: hidden;
}
/* line 165, main.scss */
.login .header {
  height: 100%;
}
/* line 168, main.scss */
.login .header .divider, .login .header .name, .login .header .utility {
  display: none;
}
/* line 172, main.scss */
.login .header .login-dot {
  display: block;
}
/* line 176, main.scss */
.login .header .header-bg {
  background-position: center bottom;
}

/* line 182, main.scss */
.header {
  height: 95px;
  width: 100%;
  position: relative;
  z-index: 100;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, white 90%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(90%, white), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, white 90%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, white 90%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, white 90%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, #ffffff 90%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
}
/* line 199, main.scss */
.header .header-bg {
  background: url(../images/bg-header.png) no-repeat center 95px;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 209, main.scss */
.header .inner {
  padding: 20px 2%;
  width: 96%;
  height: 55px;
}
/* line 215, main.scss */
.header .logo {
  width: 52px;
  height: 52px;
  background: url(../images/logo.png) no-repeat;
  float: left;
  margin-right: 20px;
}
/* line 223, main.scss */
.header .name {
  font-family: 'satelliteregular', Arial;
  color: #00bce4;
  font-size: 28px;
  text-shadow: 0 1px 1px #000;
  float: left;
  margin-top: 7px;
}
/* line 232, main.scss */
.header .utility {
  margin-top: 8px;
}
/* line 236, main.scss */
.header .searchbar {
  background: url(../images/icon-magnify.png) no-repeat 190px center rgba(181, 181, 181, 0.7);
  width: 220px;
  float: right;
  padding: 0px 38px 0px 10px;
}
/* line 244, main.scss */
.header .searchbtn {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  box-shadow: none;
  cursor: pointer;
  float: right;
  margin-left: -38px;
  position: relative;
  text-indent: -99999px;
  width: 38px;
  z-index: 1;
}
/* line 257, main.scss */
.header .logout, .header .welcome {
  float: right;
  font-family: 'robotolight', Arial;
  color: #424242;
  font-size: 15px;
  display: block;
  height: 37px;
  line-height: 37px;
}
/* line 267, main.scss */
.header .logout {
  margin: 0px 40px 0px 20px;
}

/* line 273, main.scss */
.fractals {
  background: url(../images/fractals.png) no-repeat bottom center;
  background-size: cover;
  width: 100%;
  height: 230px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
}

/* line 284, main.scss */
.divider {
  width: 3px;
  height: 35px;
  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.75);
  margin-top: 6px;
  float: left;
  margin-right: 20px;
}

/* --- Login
------------------------------ */
/* line 297, main.scss */
.login-dot {
  display: none;
  width: 470px;
  height: 470px;
  border-radius: 241px;
  padding: 12px;
  margin: -255px auto 0;
  position: relative;
  top: 40%;
  -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}
/* line 311, main.scss */
.login-dot .inner {
  background: #00b4da;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00b4da 0%, #0093b3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b4da), color-stop(100%, #0093b3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00b4da 0%, #0093b3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00b4da 0%, #0093b3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00b4da 0%, #0093b3 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #00b4da 0%, #0093b3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b4da', endColorstr='#0093b3',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #0199ba;
  border-radius: 241px;
  width: 470px;
  height: 470px;
  padding: 0px;
}
/* line 328, main.scss */
.login-dot .login-form {
  margin: 0 auto;
  width: 285px;
  padding-top: 65px;
}
/* line 334, main.scss */
.login-dot .login-title {
  font-size: 40px;
  font-family: 'satelliteregular', Arial;
  color: #00333e;
  text-align: center;
  margin-bottom: 25px;
}
/* line 342, main.scss */
.login-dot input {
  background: #ececec;
  -webkit-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  border: none;
  width: 285px;
  height: 37px;
}
/* line 352, main.scss */
.login-dot label {
  display: block;
  font-size: 18px;
  color: #fff;
  font-family: 'robotolight', Arial;
  padding-left: 10px;
  margin-bottom: 4px;
}
/* line 361, main.scss */
.login-dot .username {
  margin-bottom: 35px;
}
/* line 365, main.scss */
.login-dot .submit-login {
  width: 120px;
  height: 45px;
  border: 1px solid #00333e;
  color: #00333e;
  font-family: 'satelliteregular', Arial;
  font-size: 18px;
  margin: 45px auto 0px;
  display: block;
  background: none;
  cursor: pointer;
}
/* line 379, main.scss */
.login-dot .submit-login:hover {
  background: rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

/* --- Search Results
------------------------------ */
/* line 390, main.scss */
#results {
  border: 1px solid #404040;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.85);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.85);
  background: -moz-linear-gradient(left, rgba(33, 33, 33, 0.9) 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(33, 33, 33, 0.9)), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(33, 33, 33, 0.9) 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(33, 33, 33, 0.9) 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(33, 33, 33, 0.9) 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(33, 33, 33, 0.9) 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6212121', endColorstr='#000000',GradientType=1 );
  /* IE6-9 */
  width: 320px;
  height: 370px;
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -220px;
  margin-left: -1px;
  padding-top: 70px;
}
/* line 413, main.scss */
#results .results-header {
  width: 295px;
  height: 70px;
  padding: 0px 15px;
  margin-top: -71px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.85);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.85);
  background: #4a4a4a;
  /* Old browsers */
  background: -moz-linear-gradient(left, #4a4a4a 0%, #323232 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #4a4a4a), color-stop(100%, #323232));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #4a4a4a 0%, #323232 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #4a4a4a 0%, #323232 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #4a4a4a 0%, #323232 100%);
  /* IE10+ */
  background: linear-gradient(to right, #4a4a4a 0%, #323232 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4a4a', endColorstr='#323232',GradientType=1 );
  /* IE6-9 */
  border: 1px solid #414141;
}
/* line 435, main.scss */
#results .results-header .clear-results {
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  background: url(../images/icon-x.png) no-repeat center;
  cursor: pointer;
  margin-right: 20px;
}
/* line 445, main.scss */
#results .results-header .divider {
  float: right;
  margin-top: 16px;
}
/* line 450, main.scss */
#results .results-header .collapse-results {
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  cursor: pointer;
}
/* line 457, main.scss */
#results .results-header .collapse-results div {
  margin: 6px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #bbbbbb;
}
/* line 469, main.scss */
#results .results-list {
  overflow-y: auto;
  height: 370px;
}
/* line 473, main.scss */
#results .results-list .result-item {
  background: url(../images/icon-person.png) no-repeat left center;
  background-size: 29px 27px;
  padding: 8px 0px 8px 40px;
  min-height: 49px;
  border-bottom: 1px solid #393939;
  margin: 0px 12px;
}
/* line 481, main.scss */
#results .results-list .result-item .name {
  color: #FFF;
  font-family: 'robotoregular', Arial;
  font-size: 15px;
}
/* line 487, main.scss */
#results .results-list .result-item .position, #results .results-list .result-item .location {
  color: #dcdcdc;
  font-family: Arial;
  font-size: 12px;
  margin-top: 2px;
}
/* line 497, main.scss */
#results.collapsed {
  left: -322px;
}
/* line 500, main.scss */
#results.collapsed .results-header {
  margin-left: 59px;
}
/* line 505, main.scss */
#results.collapsed .collapse-results div {
  margin: 6px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #bbbbbb;
  border-right: none;
}

/* line 521, main.scss */
.zoom-btns {
  position: absolute;
  right: 5%;
  top: 55px;
  display: none;
}
/* line 527, main.scss */
.zoom-btns #plus {
  width: 25px;
  height: 26px;
  display: block;
  cursor: pointer;
  background: url(../images/btn-plus.png) no-repeat 0 0;
  float: left;
  margin-right: 10px;
}
/* line 536, main.scss */
.zoom-btns #plus:hover {
  background-position: 0 -26px;
}
/* line 541, main.scss */
.zoom-btns #minus {
  width: 25px;
  height: 26px;
  display: block;
  cursor: pointer;
  background: url(../images/btn-minus.png) no-repeat 0 0;
  float: left;
  margin-right: 10px;
}
/* line 550, main.scss */
.zoom-btns #minus:hover {
  background-position: 0 -26px;
}
/* line 555, main.scss */
.zoom-btns #backto3d {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #424242;
  clear: both;
  color: #424242;
  cursor: pointer;
  display: block;
  float: right;
  font-family: 'satelliteregular',Arial;
  font-size: 18px;
  height: 32px;
  line-height: 32px;
  margin: 13px 20px 0 0;
  text-align: center;
  text-decoration: none;
  width: 40px;
}
/* line 572, main.scss */
.zoom-btns #backto3d:hover {
  background: rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

/* --- Offices
------------------------------ */
/* line 583, main.scss */
#offices-container {
  z-index: 1;
  position: relative;
}

/* line 588, main.scss */
#offices-slider-control {
  min-height: 60px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
/* line 596, main.scss */
#offices-slider-control .inner {
  margin: 0 auto;
  min-height: 1px;
  text-align: center;
  width: 188px;
}
/* line 603, main.scss */
#offices-slider-control #falloff-shadow {
  border-radius: 24000px;
  box-shadow: 0 5px 50px 5px black, 0 5px 10px 5px black;
  height: 654px;
  margin: 0 0 0 10%;
  position: absolute;
  top: -669px;
  width: 80%;
  z-index: 1;
}
/* line 614, main.scss */
#offices-slider-control span {
  margin: 0px 25px;
  font-family: 'satelliteregular', Arial;
  color: #00bce4;
  font-size: 28px;
  text-shadow: 0 2px 2px #000;
  line-height: 70px;
  display: block;
  float: left;
}
/* line 625, main.scss */
#offices-slider-control .right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #bbbbbb;
  float: left;
  display: block;
  position: relative;
  margin-top: 25px;
}
/* line 639, main.scss */
#offices-slider-control .right:after {
  box-shadow: 4px 1px 2px -2px rgba(0, 0, 0, 0.5);
  content: "";
  height: 15px;
  left: -13px;
  position: absolute;
  top: -5px;
  transform: rotate(45deg);
  width: 10px;
}
/* line 650, main.scss */
#offices-slider-control .left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #bbbbbb;
  float: left;
  display: block;
  position: relative;
  margin-top: 25px;
}
/* line 664, main.scss */
#offices-slider-control .left:after {
  box-shadow: 4px 1px 2px -2px rgba(0, 0, 0, 0.5);
  content: "";
  height: 15px;
  left: 4px;
  position: absolute;
  top: -5px;
  transform: rotate(135deg);
  width: 10px;
}

/* --- Maps
------------------------------ */
/* line 680, main.scss */
.kineticjs-content {
  background: #e2e2e2;
}
/* line 683, main.scss */
.kineticjs-content canvas {
  z-index: 2;
}

/* line 688, main.scss */
#popup {
  border-radius: 10px;
  display: block;
  right: 0;
  min-height: 105px;
  position: absolute;
  top: 0;
  width: 312px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.6);
  background: #00bce4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00bce4 0%, #0096b6 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00bce4), color-stop(100%, #0096b6));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00bce4 0%, #0096b6 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00bce4 0%, #0096b6 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00bce4 0%, #0096b6 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #00bce4 0%, #0096b6 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00bce4', endColorstr='#0096b6',GradientType=0 );
  /* IE6-9 */
}
/* line 708, main.scss */
#popup .inner {
  min-height: 85px;
  padding: 10px;
  width: 292px;
  color: #FFF;
  font-size: 15px;
  font-family: 'robotolight', Arial;
  line-height: 18px;
}
/* line 719, main.scss */
#popup.desk .inner {
  background: url("../images/icon-watermark-person.png") no-repeat scroll 192px 9px rgba(0, 0, 0, 0);
}
/* line 723, main.scss */
#popup.room .inner {
  background: url("../images/icon-watermark-room.png") no-repeat scroll 192px 9px rgba(0, 0, 0, 0);
}
/* line 727, main.scss */
#popup .close {
  position: absolute;
  top: -13px;
  right: -12px;
  width: 25px;
  height: 26px;
  background: url(../images/btn-cancel.png) no-repeat 0 0;
  cursor: pointer;
  z-index: 1;
}
/* line 737, main.scss */
#popup .close:hover {
  background-position: 0px -26px;
}
/* line 742, main.scss */
#popup .notch {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 12px solid #0096b6;
  bottom: -12px;
  height: 0;
  left: 50%;
  margin-left: -18px;
  position: absolute;
  width: 0;
}
/* line 754, main.scss */
#popup .notch:after {
  box-shadow: 1px 4px 3px 1px rgba(0, 0, 0, 0.4);
  content: "";
  height: 9px;
  left: -18px;
  position: absolute;
  top: -17px;
  transform: rotate(27deg);
  width: 21px;
  z-index: -1;
}
/* line 766, main.scss */
#popup .notch:before {
  box-shadow: 1px 4px 3px 1px rgba(0, 0, 0, 0.4);
  content: "";
  height: 9px;
  left: -4px;
  position: absolute;
  top: -17px;
  transform: rotate(-29deg);
  width: 21px;
  z-index: -1;
}
/* line 778, main.scss */
#popup .name {
  font-size: 23px;
  color: #252525;
  font-family: 'robotolight', Arial;
  margin: 3px 0px 8px;
}
/* line 785, main.scss */
#popup a {
  color: inherit;
}
/* line 788, main.scss */
#popup a.btn {
  text-decoration: none;
  border: 1px solid #FFF;
  padding: 5px 10px;
  float: left;
  margin-right: 10px;
}
/* line 795, main.scss */
#popup a.btn:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* line 801, main.scss */
#popup .btns-container {
  margin-top: 10px;
}

/* --- 3D Floor Animation
===================================================
===================================================
--- */
/* line 825, main.scss */
.ms-wrapper {
  position: relative;
  margin: 20px auto 0;
  width: 100%;
  height: 79%;
  overflow: hidden;
}

/* line 833, main.scss */
.ms-perspective {
  position: relative;
  margin: 0px auto;
  width: 90%;
  height: 100%;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 0%;
  -moz-perspective-origin: 50% 0%;
  perspective-origin: 50% 0%;
}

/* line 846, main.scss */
.ms-device {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  -moz-transition: -moz-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
}

/* line 858, main.scss */
.ms-device,
.ms-object,
.ms-object > div,
.ms-screens .floorplan {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* Screens */
/* line 865, main.scss */
.ms-screens .floorplan {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 871, main.scss */
.ms-screens > .floorplan {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  outline: none;
  display: block;
  cursor: pointer;
  opacity: 1;
  box-shadow: 13px 17px 62px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.7s, opacity 0.4s;
  transition: -moz-transform 0.7s, opacity 0.4s;
  transition: transform 0.7s, opacity 0.4s;
  -webkit-transform: translateZ(16px);
  -moz-transform: translateZ(16px);
  transform: translateZ(16px);
}

/* line 892, main.scss */
.floorplan.showthisfloor, .floorplan.flyup, .floorplan.flydown {
  box-shadow: none;
}

/* line 896, main.scss */
.ms-screens > .floorplan::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* line 910, main.scss */
.ms-label {
  border: 2px solid #00bce4;
  color: #fff;
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: 18px;
  width: 65px;
  padding: 10px;
  opacity: 0;
  font-family: 'robotoregular', Arial;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transition: opacity 0.7s, -webkit-transform 0.7s;
  -moz-transition: opacity 0.7s, -moz-transform 0.7s;
  transition: opacity 0.7s, transform 0.7s;
}

/* line 931, main.scss */
.ms-screens > .floorplan:hover .ms-label, .floorplan.showthisfloor .ms-label {
  background: #00bce4;
}

/* line 935, main.scss */
.ms-label::after {
  right: 100%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-right-color: #00bce4;
  border-width: 8px;
  top: 50%;
  margin-top: -8px;
}

/* line 951, main.scss */
.ms-label::after,
.ms-label::before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 961, main.scss */
.ms-label::after {
  border-color: transparent;
  border-right-color: #616163;
  border-width: 8px;
  top: 50%;
  margin-top: -8px;
}

/* line 969, main.scss */
.ms-label::before {
  border-color: transparent;
  border-right-color: #00bce4;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}

/* line 977, main.scss */
.ms-screens > .floorplan:hover .ms-label::before, .floorplan.showthisfloor .ms-label::before {
  border-right-color: #00bce4;
}

/* line 981, main.scss */
.ms-screens > .floorplan:hover .ms-label::after, .floorplan.showthisfloor .ms-label::after {
  border-right-color: #00bce4;
}

/* line 987, main.scss */
.ms-view-layers .ms-screens .ms-screen-1 {
  -webkit-transform: translateZ(90px);
  -moz-transform: translateZ(90px);
  transform: translateZ(90px);
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  transition-delay: 0.7s;
  opacity: 0.9;
}

/* line 987, main.scss */
.ms-view-layers .ms-screens .ms-screen-2 {
  -webkit-transform: translateZ(165px);
  -moz-transform: translateZ(165px);
  transform: translateZ(165px);
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  transition-delay: 0.6s;
  opacity: 0.9;
}

/* line 987, main.scss */
.ms-view-layers .ms-screens .ms-screen-3 {
  -webkit-transform: translateZ(240px);
  -moz-transform: translateZ(240px);
  transform: translateZ(240px);
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 0.9;
}

/* line 987, main.scss */
.ms-view-layers .ms-screens .ms-screen-4 {
  -webkit-transform: translateZ(315px);
  -moz-transform: translateZ(315px);
  transform: translateZ(315px);
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
  opacity: 0.9;
}

/* line 987, main.scss */
.ms-view-layers .ms-screens .ms-screen-5 {
  -webkit-transform: translateZ(390px);
  -moz-transform: translateZ(390px);
  transform: translateZ(390px);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
  opacity: 0.9;
}

/* line 987, main.scss */
.ms-view-layers .ms-screens .ms-screen-6 {
  -webkit-transform: translateZ(465px);
  -moz-transform: translateZ(465px);
  transform: translateZ(465px);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
  opacity: 0.9;
}

/* line 998, main.scss */
.ms-view-layers .ms-screens > .floorplan:not(.showthisfloor):hover::after {
  opacity: 1;
}

/* line 1002, main.scss */
.ms-view-layers .ms-label {
  opacity: 1;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}

/* line 1010, main.scss */
.ms-view-layers .ms-screen-1 .ms-label {
  -webkit-transition-delay: 1.1s;
  -moz-transition-delay: 1.1s;
  transition-delay: 1.1s;
}

/* line 1010, main.scss */
.ms-view-layers .ms-screen-2 .ms-label {
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  transition-delay: 1s;
}

/* line 1010, main.scss */
.ms-view-layers .ms-screen-3 .ms-label {
  -webkit-transition-delay: 0.9s;
  -moz-transition-delay: 0.9s;
  transition-delay: 0.9s;
}

/* line 1010, main.scss */
.ms-view-layers .ms-screen-4 .ms-label {
  -webkit-transition-delay: 0.8s;
  -moz-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

/* line 1010, main.scss */
.ms-view-layers .ms-screen-5 .ms-label {
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

/* line 1010, main.scss */
.ms-view-layers .ms-screen-6 .ms-label {
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

/* line 1018, main.scss */
.ms-effect-3.ms-view-layers .ms-device {
  -webkit-transform: rotateY(-40deg) rotateX(87deg) translateZ(-15px) translateZ(-210px) translateY(-200px) translateX(-300px);
  -moz-transform: rotateY(-40deg) rotateX(87deg) translateZ(-15px) translateZ(-210px) translateY(-200px) translateX(-300px);
  transform: rotateY(-40deg) rotateX(87deg) translateZ(-15px) translateZ(-210px) translateY(-200px) translateX(-300px);
}

/* line 1024, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .ms-device {
  -webkit-transform: rotateY(0deg) rotateX(0deg) translateZ(0) translateZ(0);
  -moz-transform: rotateY(0deg) rotateX(0deg) translateZ(0) translateZ(0);
  transform: rotateY(0deg) rotateX(0deg) translateZ(0) translateZ(0);
  /*	-webkit-transform: rotateY(-30deg) rotateX(90deg) translateZ(0);
  	-moz-transform: rotateY(-30deg) rotateX(90deg) translateZ(0);
  	transform: rotateY(-30deg) rotateX(90deg) translateZ(0);*/
}

/* line 1034, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.flyup {
  -webkit-transform: translateZ(1700px);
  -moz-transform: translateZ(1700px);
  transform: translateZ(1700px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

/* line 1044, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.flydown {
  -webkit-transform: translateZ(-700px);
  -moz-transform: translateZ(-700px);
  transform: translateZ(-700px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

/* line 1054, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.showthisfloor {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-delay: 0.7s;
  -moz-transition-delay: 0.7s;
  transition-delay: 0.7s;
  opacity: 1;
}

/* line 1064, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.showthisfloor .ms-label {
  -webkit-transform: rotateX(0deg) translateX(-106px);
  -moz-transform: rotateX(0deg) translateX(-106px);
  transform: rotateX(0deg) translateX(-106px);
}

/* line 1034, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.flyup {
  -webkit-transform: translateZ(1700px);
  -moz-transform: translateZ(1700px);
  transform: translateZ(1700px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

/* line 1044, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.flydown {
  -webkit-transform: translateZ(-700px);
  -moz-transform: translateZ(-700px);
  transform: translateZ(-700px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

/* line 1054, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.showthisfloor {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-delay: 0.6s;
  -moz-transition-delay: 0.6s;
  transition-delay: 0.6s;
  opacity: 1;
}

/* line 1064, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.showthisfloor .ms-label {
  -webkit-transform: rotateX(0deg) translateX(-106px);
  -moz-transform: rotateX(0deg) translateX(-106px);
  transform: rotateX(0deg) translateX(-106px);
}

/* line 1034, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.flyup {
  -webkit-transform: translateZ(1700px);
  -moz-transform: translateZ(1700px);
  transform: translateZ(1700px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

/* line 1044, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.flydown {
  -webkit-transform: translateZ(-700px);
  -moz-transform: translateZ(-700px);
  transform: translateZ(-700px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

/* line 1054, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.showthisfloor {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-delay: 0.5s;
  -moz-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity: 1;
}

/* line 1064, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.showthisfloor .ms-label {
  -webkit-transform: rotateX(0deg) translateX(-106px);
  -moz-transform: rotateX(0deg) translateX(-106px);
  transform: rotateX(0deg) translateX(-106px);
}

/* line 1034, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.flyup {
  -webkit-transform: translateZ(1700px);
  -moz-transform: translateZ(1700px);
  transform: translateZ(1700px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

/* line 1044, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.flydown {
  -webkit-transform: translateZ(-700px);
  -moz-transform: translateZ(-700px);
  transform: translateZ(-700px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

/* line 1054, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.showthisfloor {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-delay: 0.4s;
  -moz-transition-delay: 0.4s;
  transition-delay: 0.4s;
  opacity: 1;
}

/* line 1064, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.showthisfloor .ms-label {
  -webkit-transform: rotateX(0deg) translateX(-106px);
  -moz-transform: rotateX(0deg) translateX(-106px);
  transform: rotateX(0deg) translateX(-106px);
}

/* line 1034, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.flyup {
  -webkit-transform: translateZ(1700px);
  -moz-transform: translateZ(1700px);
  transform: translateZ(1700px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

/* line 1044, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.flydown {
  -webkit-transform: translateZ(-700px);
  -moz-transform: translateZ(-700px);
  transform: translateZ(-700px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

/* line 1054, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.showthisfloor {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-delay: 0.3s;
  -moz-transition-delay: 0.3s;
  transition-delay: 0.3s;
  opacity: 1;
}

/* line 1064, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.showthisfloor .ms-label {
  -webkit-transform: rotateX(0deg) translateX(-106px);
  -moz-transform: rotateX(0deg) translateX(-106px);
  transform: rotateX(0deg) translateX(-106px);
}

/* line 1034, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.flyup {
  -webkit-transform: translateZ(1700px);
  -moz-transform: translateZ(1700px);
  transform: translateZ(1700px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

/* line 1044, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.flydown {
  -webkit-transform: translateZ(-700px);
  -moz-transform: translateZ(-700px);
  transform: translateZ(-700px);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}

/* line 1054, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.showthisfloor {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
  opacity: 1;
}

/* line 1064, main.scss */
.ms-effect-3.ms-view-layers.showingfloor .floorplan.showthisfloor .ms-label {
  -webkit-transform: rotateX(0deg) translateX(-106px);
  -moz-transform: rotateX(0deg) translateX(-106px);
  transform: rotateX(0deg) translateX(-106px);
}

/* line 1073, main.scss */
.ms-effect-3 .ms-screens .ms-screen-1 {
  background: url(../images/floorplan-eleven.png) no-repeat center center #e2e2e2;
  background-size: contain;
}
/* line 1078, main.scss */
.ms-effect-3 .ms-screens .ms-screen-2 {
  background: url(../images/floorplan-twelve.png) no-repeat center center #e2e2e2;
  background-size: contain;
}
/* line 1083, main.scss */
.ms-effect-3 .ms-screens .ms-screen-3 {
  background: url(../images/floorplan-thirteen.png) no-repeat center center #e2e2e2;
  background-size: contain;
}
/* line 1088, main.scss */
.ms-effect-3 .ms-screens .ms-screen-4 {
  background: url(../images/floorplan-fourteen.png) no-repeat center center #e2e2e2;
  background-size: contain;
}
/* line 1093, main.scss */
.ms-effect-3 .ms-screens .ms-screen-5 {
  background: url(../images/floorplan-fifteen.png) no-repeat center center #e2e2e2;
  background-size: contain;
}
/* line 1098, main.scss */
.ms-effect-3 .ms-screens .ms-screen-6 {
  background: url(../images/floorplan-seventeen.png) no-repeat center center #e2e2e2;
  background-size: contain;
}
