/* Fonts
--------------------- */
@font-face {
  font-family: 'satelliteregular';
  src: url("../fonts/satellite-webfont.eot");
  src: url("../fonts/satellite-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/satellite-webfont.woff") format("woff"), url("../fonts/satellite-webfont.ttf") format("truetype"), url("../fonts/satellite-webfont.svg#satelliteregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotothin';
  src: url("../fonts/Roboto-Thin-webfont.eot");
  src: url("../fonts/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin-webfont.woff") format("woff"), url("../fonts/Roboto-Thin-webfont.ttf") format("truetype"), url("../fonts/Roboto-Thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: url("../fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Colors
--------------------- */
/* --- Globals
------------------------------ */
/* line 81, main.scss */
body {
  background: url(../images/bg-tile.jpg) repeat;
}

/* line 85, main.scss */
::-webkit-scrollbar {
  height: 7px;
  width: 7px;
  background: none;
}

/* line 91, main.scss */
::-webkit-scrollbar-thumb {
  background: #767676;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

/* line 97, main.scss */
::-webkit-scrollbar-corner {
  background: none;
}

/* line 101, main.scss */
.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 2000px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 2000px 0 rgba(0, 0, 0, 0.5);
}

/* line 112, main.scss */
* {
  outline-color: #00bce4;
}

/* line 116, main.scss */
a {
  text-decoration: underline;
}
/* line 119, main.scss */
a:hover {
  text-decoration: normal;
}

/* line 123, main.scss */
input {
  height: 37px;
  line-height: 37px;
  -webkit-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  border: none;
  font-size: 14px;
  color: #424242;
  font-family: 'robotoregular', Arial;
  padding: 0px 10px;
}
/* line 134, main.scss */
input::-webkit-input-placeholder {
  color: #424242;
  opacity: 0.6;
}
/* line 138, main.scss */
input::-moz-placeholder {
  color: #424242;
  opacity: 0.6;
}

/* --- Main
------------------------------ */
/* line 148, main.scss */
.header {
  height: 95px;
  width: 100%;
  position: relative;
  z-index: 1;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, white 90%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(90%, white), color-stop(100%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, white 90%, white 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, white 90%, white 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, white 90%, white 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, #ffffff 90%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
}
/* line 165, main.scss */
.header.login {
  height: 100%;
}
/* line 168, main.scss */
.header.login .divider, .header.login .name, .header.login .utility {
  display: none;
}
/* line 172, main.scss */
.header.login .login-dot {
  display: block;
}
/* line 176, main.scss */
.header.login .header-bg {
  background-position: center bottom;
}
/* line 181, main.scss */
.header .header-bg {
  background: url(../images/bg-header.png) no-repeat center 95px;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 191, main.scss */
.header .inner {
  padding: 20px 2%;
  width: 96%;
  height: 100%;
}
/* line 197, main.scss */
.header .logo {
  width: 52px;
  height: 52px;
  background: url(../images/logo.png) no-repeat;
  float: left;
  margin-right: 20px;
}
/* line 205, main.scss */
.header .name {
  font-family: 'satelliteregular', Arial;
  color: #00bce4;
  font-size: 28px;
  text-shadow: 0 1px 1px #000;
  float: left;
  margin-top: 7px;
}
/* line 214, main.scss */
.header .utility {
  margin-top: 8px;
}
/* line 218, main.scss */
.header .searchbar {
  background: url(../images/icon-magnify.png) no-repeat 190px center rgba(181, 181, 181, 0.7);
  width: 220px;
  float: right;
  padding: 0px 38px 0px 10px;
}
/* line 226, main.scss */
.header .logout, .header .welcome {
  float: right;
  font-family: 'robotolight', Arial;
  color: #424242;
  font-size: 15px;
  display: block;
  height: 37px;
  line-height: 37px;
}
/* line 236, main.scss */
.header .logout {
  margin: 0px 40px 0px 20px;
}

/* line 242, main.scss */
.fractals {
  background: url(../images/fractals.png) no-repeat bottom center;
  background-size: cover;
  width: 100%;
  height: 230px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 0;
}

/* line 253, main.scss */
.divider {
  width: 3px;
  height: 35px;
  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.75);
  margin-top: 6px;
  float: left;
  margin-right: 20px;
}

/* --- Login
------------------------------ */
/* line 266, main.scss */
.login-dot {
  display: none;
  width: 470px;
  height: 470px;
  border-radius: 241px;
  padding: 12px;
  margin: -255px auto 0;
  position: relative;
  top: 50%;
  -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
}
/* line 280, main.scss */
.login-dot .inner {
  background: #00b4da;
  /* Old browsers */
  background: -moz-linear-gradient(top, #00b4da 0%, #0093b3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00b4da), color-stop(100%, #0093b3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00b4da 0%, #0093b3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00b4da 0%, #0093b3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00b4da 0%, #0093b3 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #00b4da 0%, #0093b3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00b4da', endColorstr='#0093b3',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #0199ba;
  border-radius: 241px;
  width: 470px;
  height: 470px;
  padding: 0px;
}
/* line 297, main.scss */
.login-dot .login-form {
  margin: 0 auto;
  width: 285px;
  padding-top: 65px;
}
/* line 303, main.scss */
.login-dot .login-title {
  font-size: 40px;
  font-family: 'satelliteregular', Arial;
  color: #00333e;
  text-align: center;
  margin-bottom: 25px;
}
/* line 311, main.scss */
.login-dot input {
  background: #ececec;
  -webkit-box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  border: none;
  width: 285px;
  height: 37px;
}
/* line 321, main.scss */
.login-dot label {
  display: block;
  font-size: 18px;
  color: #fff;
  font-family: 'robotolight', Arial;
  padding-left: 10px;
  margin-bottom: 4px;
}
/* line 330, main.scss */
.login-dot .username {
  margin-bottom: 35px;
}
/* line 334, main.scss */
.login-dot .submit-login {
  width: 120px;
  height: 45px;
  border: 1px solid #00333e;
  color: #00333e;
  font-family: 'satelliteregular', Arial;
  font-size: 18px;
  margin: 45px auto 0px;
  display: block;
  background: none;
  cursor: pointer;
}
/* line 348, main.scss */
.login-dot .submit-login:hover {
  background: rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

/* --- Search Results
------------------------------ */
/* line 359, main.scss */
#results {
  border: 1px solid #404040;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.85);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.85);
  background: -moz-linear-gradient(left, rgba(33, 33, 33, 0.9) 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(33, 33, 33, 0.9)), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(33, 33, 33, 0.9) 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(33, 33, 33, 0.9) 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(33, 33, 33, 0.9) 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(33, 33, 33, 0.9) 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6212121', endColorstr='#000000',GradientType=1 );
  /* IE6-9 */
  width: 320px;
  height: 370px;
  position: absolute;
  top: 50%;
  margin-top: -220px;
  margin-left: -1px;
  padding-top: 70px;
}
/* line 381, main.scss */
#results .results-header {
  width: 295px;
  height: 70px;
  padding: 0px 15px;
  margin-top: -71px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.85);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.85);
  background: #4a4a4a;
  /* Old browsers */
  background: -moz-linear-gradient(left, #4a4a4a 0%, #323232 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #4a4a4a), color-stop(100%, #323232));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #4a4a4a 0%, #323232 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #4a4a4a 0%, #323232 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #4a4a4a 0%, #323232 100%);
  /* IE10+ */
  background: linear-gradient(to right, #4a4a4a 0%, #323232 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4a4a', endColorstr='#323232',GradientType=1 );
  /* IE6-9 */
  border: 1px solid #414141;
}
/* line 401, main.scss */
#results .results-header span {
  font-family: 'satelliteregular', Arial;
  color: #00bce4;
  font-size: 28px;
  text-shadow: 0 1px 1px #000;
  line-height: 70px;
}
/* line 409, main.scss */
#results .results-header .clear-results {
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  background: url(../images/icon-x.png) no-repeat center;
  cursor: pointer;
  margin-right: 20px;
}
/* line 419, main.scss */
#results .results-header .divider {
  float: right;
  margin-top: 16px;
}
/* line 424, main.scss */
#results .results-header .collapse-results {
  float: right;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  cursor: pointer;
}
/* line 431, main.scss */
#results .results-header .collapse-results div {
  margin: 6px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #bbbbbb;
}
/* line 443, main.scss */
#results .results-list {
  overflow-y: auto;
  height: 370px;
}
/* line 447, main.scss */
#results .results-list .result-item {
  background: url(../images/icon-person.png) no-repeat left center;
  background-size: 29px 27px;
  padding: 8px 0px 8px 40px;
  min-height: 49px;
  border-bottom: 1px solid #393939;
  margin: 0px 12px;
}
/* line 455, main.scss */
#results .results-list .result-item .name {
  color: #FFF;
  font-family: 'robotoregular', Arial;
  font-size: 15px;
}
/* line 461, main.scss */
#results .results-list .result-item .position, #results .results-list .result-item .location {
  color: #dcdcdc;
  font-family: Arial;
  font-size: 12px;
  margin-top: 2px;
}
/* line 471, main.scss */
#results.collapsed {
  left: -322px;
}
/* line 474, main.scss */
#results.collapsed .results-header {
  margin-left: 59px;
}
/* line 479, main.scss */
#results.collapsed .collapse-results div {
  margin: 6px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #bbbbbb;
  border-right: none;
}

/* --- Conditional Styles
===================================================
===================================================
--- */
/* --- IE7 Styles
---------------------------- */
/* --- end ie7 styles --- */
/* --- IE8 Styles
---------------------------- */
/* --- end ie8 styles --- */
/* --- IE9 Styles 
---------------------------- */
/* --- end ie9 styles --- */
/* --- Firefox styles --- */
@-moz-document url-prefix() {}
/* --- end Firefox styles --- */
